
    <li [ngClass]="{'list-group-item' :true,'list-group-item-success' : p.loveIts >0 , 'list-group-item-danger' : p.loveIts < 0 }">
  
      <div class="row">  <span class="col-md-9"> <h3  >{{p.title}}</h3></span> <span class="col-md-3" >
        {{p.created_at | date: 'short'  }}</span>
           
        </div>
        <p>{{p.content}}</p> 
                <button class="btn btn-success"
  
                (click)="loveit()">Love it</button>
                <button class="btn btn-danger"
  
                (click)="dontloveit()">Don't Love it</button>
      </li>

